<div class="row">
  <div class="col-lg-3 col-12">
    <h2>ABOUT US</h2>
    <ul>
     <li><a href="">TETSING</a></li>
     <li><a href="">TESTING</a></li>
    </ul>
<div class="mt-2"></div>
<form action="">
<input type="email" class="form-control">
<button class="btn btn-primary">SEND</button>
</form>
  </div>

  <div class="col-lg-3 col-12">
    <h2>Quick Links</h2>
    <div class="row">
      <div class="col-lg-4 col-12">
        <ul>
          <li>testing footer</li>
          <li>testing footer</li>
          <li>testing footer</li>
          <li>testing footer</li>
        </ul>
      </div>
      <div class="col-lg-4 col-12">
        <ul>
          <li>testing footer</li>
          <li>testing footer</li>
          <li>testing footer</li>
          <li>testing footer</li>
        </ul>
      </div>
      <div class="col-lg-4 col-12">
        <ul>
          <li>testing footer</li>
          <li>testing footer</li>
          <li>testing footer</li>
          <li>testing footer</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-12">
    <h2>Contact Info

    </h2>
  <div>
  <p>
    <i class="fa fa-location-arrow" aria-hidden="true"></i>333 Infinity St Infinity, CA 33333
  </p>
  <p>
    <i class="fa fa-phone" aria-hidden="true"></i> 111-111-1111
  </p>
  <p>
    <i class="fa fa-envelope"></i> contact@emailaddress.com
  </p>
</div>
</div>
</div>
