<div class="row pt-4 pb-4">
  

  
  <div class="col-lg-2 col-12 font-weight-bold">Totes & More</div>
  <div class="col-lg-6 col-12">
    <ul class="site-menu d-none d-lg-block mr-4">
      <li class="has-children  d-inline-block mr-4">
      <a href="index.html">Collection</a>
      <ul class="dropdown">
      <li><a href="#">Men</a></li>
      <li><a href="#">Women</a></li>
      <li><a href="#">Children</a></li>
      <li class="has-children">
      <a href="#">Sub Menu</a>
      <ul class="dropdown">
      <li><a href="#">Men</a></li>
      <li><a href="#">Women</a></li>
      <li><a href="#">Children</a></li>
      </ul>
      </li>
      </ul>
      </li>
      <li class="d-inline-block mr-4"><a href="shop.html">Shop</a></li>
      <li class="d-inline-block mr-4"><a href="#">Catalogs</a></li>
      <li class="d-inline-block mr-4"><a href="contact.html">Contact</a></li>
      </ul>
  </div>
  <div class="col-lg-4 col-12">
    <ul class="text-align-right">
     <li class="d-inline-block mr-2" ><i class="fa fa-search"></i></li>
     <li class="d-inline-block mr-2"><i class="fa fa-heart"></i></li>
     <li class="d-inline-block mr-2"><i class="fa fa-shopping-cart"></i></li>

    </ul>
  </div>
  

 

</div>